# Example .ssh/config.  See ssh_config(5) for see all options.

Host *
    TCPKeepAlive yes
    ServerAliveInterval 30
    ServerAliveCountMax 5

Host corp-machine
    IdentitiesOnly yes
    ControlMaster auto
    ControlPath ~/.ssh-%r-%h-%p.mux
    ControlPersist 10h
    User ymattw

Host jumpbox
    Port 2222
    PreferredAuthentications publickey
    ForwardAgent yes
    DynamicForward 7070

Host far
    ProxyJump jumpbox
    ExitOnForwardFailure yes
    ProxyCommand ssh jumpbox -W %h:%p
    LocalForward 5901 localhost:5901

# Now you can jump in a chain like: ssh jumpbox/far/remote
Host */*
    ProxyCommand ssh $(dirname %h) -W $(basename %h):%p
    PreferredAuthentications publickey
    ForwardAgent yes
